####Mini Quiz

In [35]:
#Q1.
l1= [3, 4, 5, 20, 5, 25, 1, 3]
l1.pop(1)
print(l1)

[3, 5, 20, 5, 25, 1, 3]

In [36]:
#Q2. 
str1="machinElearning"
print(len([ch for ch in str1.lower() if ch in ['a', 'e', 'i', 'o', 'u']]))

6

#### Lecture notes

In [ ]:
def myFunction(x):
  print(x)
  x=[1,2,3]
  print(x)

a=[3,4,5]
print(a)
myFunction(a)
print(a)

In [ ]:
def myFunction(x):
  x=20

a=10
print(a)
myFunction(a)
print(a)

In [ ]:
def swap(x, y):
  temp=x
  x=y
  y=temp

x=2
y=3
swap(x,y)
print(x)
print(y)

In [ ]:
def myFunction(x, y=50):
  print(x)
  print(y)

myFunction(10)

####Q3. for loop Example

In [41]:
l1 = [1, 2, 3, 4, 5]
l2=[]
#for i in l1:
for i in range(len(l1)): #range(start, stop, steps)
  l2.append(l1[i]**2)
  #l2.append(i**2)


print(l2)

'''
l2 = [n**2 for n in l1]
print(l2)
'''

[1, 4, 9, 16, 25]

'\nl2 = [n**2 for n in l1]\nprint(l2)\n'

####Q4. While loop Example

In [42]:
#str1[start:stop]

str1 = "machine"
i=len(str1)
while i>0:
  print(str1[0:i])
  i-=1

machine
machin
machi
mach
mac
ma
m

In [ ]:
def myFun(x):
  x[0]=20

lst = [10, 20, 30]
print(lst)
myFun(lst)
print(lst)

#### Q5. Class Exercise

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
#Find the maximum element 

l2=[]
maxval=-1
for i in range(len(l1)):
  if l1[i]>maxval:
    maxval=l1[i]
  l2.append(maxval)

print(l2)

####Q6. Functions

In [46]:
def Square(x): 
  return(x**2)
print(Square(3))

g=lambda x:x**2
print(g(3))

9
9

#### Q7. Lambda function

In [50]:
#y=8 #lambda variables:expression
z = lambda x, y:[x*y, (x+y)]
print(z(6,8))

[48, 14]

####Q8. Create a dictionary based on frequency and remove a key

In [ ]:
keywords = ['hello', 'I', 'am', 'fine', 'but', 'fine', 'is', 'fine', 'hello', 'to', 'you', 'fine']
d1={}
for eachword in keywords:
  if eachword in d1.keys():
    d1[eachword]+=1
  else
    d1[eachword]=1

print(d1)

#keys=(d1.keys()) #returns an iterator instead of a list
keys=list(d1.keys()) #make a copy of the keys 
for eachkey in keys:
  if d1[eachkey]==1:
    del d1[eachkey]

print(d1)

####Q9. Write a comprehensive code to initialize a dictionary

In [51]:
d1 = {i:i**2 for i in range(1, 11)}
print(d1)

keys[l1[i]]=l2[i]

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

####Q10. Write a lambda function to multiple two numbers

In [ ]:
g = lambda x, y : x*y
print(g(7, 8))

####Q11. Find all the duplicate characters in a string "machinelearning"


---

In [ ]:
def duplicates(str1):
  chs_found=[]
  dups=[]
  for s in str1:
    if s not in chs_found:
      chs_found.append(s)
    else:
      dups.append(s)
  return(list(set(dups)))

print(duplicates("machinelearning"))

#### Q12. Convert all the repeated characters in the previous string to uppercase

In [ ]:
def uppercase(str1):
  d1={}
  for ch in str1:
    if ch in d1.keys():
      d1[ch]+=1
    else:
      d1[ch]=1
  returnstr=''
  for ch in str1:
    if d1[ch]>1:
      ch=ch.upper()
    returnstr+=ch

  return(returnstr)

print(uppercase("machinelearning"))

#### Q13. Write a program to generate Fibonacci series 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, .....

In [ ]:
#Iterative approach 
nItems=int(input("Enter how many numbers you want to generate: "))
f1=0
f2=1
counter=0
if nItems<=0:
  print("Provide input greater than 0")
elif nItems==1:
  print(f1)
else:
  while counter<nItems:
    print(f1)
    #we need to keep updating the values as we move to future elements
    fth = f1 + f2 
    f1 = f2 
    f2 = fth 
    counter += 1